body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* background-color: #F5F5DC; */
  background-image: linear-gradient(to right, #8360c3, #2ebf91);
  color: white;
}

html {
  /* font-size: 62.5%; */
}

/* techstack css starts */

.techstack_container {
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* flex-direction: column; */
}

.cards_container {
  border: 2px solid red;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding: 2rem;

}

.cards_container_img {
  height: 3.5rem;
  width: 3.5rem;
  border: 2px solid red;
  border-radius: 10rem;
}

.cards_container_name {
  border: 2px solid red;
  font-size: 2rem;
}